AWS versus CESM
======

Import custom modules for working with model and AWS data
----

In [1]:
from netCDF4 import Dataset
import pandas as pd
import numpy as np
from IPython.display import HTML

from model import Model
from GCNet import GCNet

Read/create CESM LE metadata
----

In [2]:
# M = Model("cesmle_geog.nc")
M = Model("cesmle_geog_sub.nc")
M.loadMeta()
# M.info()
# dir(M)
# M.getLat2d()
# M.createMeta()

minLon = -70 + 360
maxLon = -15 + 360
minLat = 58
maxLat = 86.5
M.setDomain( (minLat, maxLat, minLon, maxLon) )

1d dataset

Load AWS metadata
----

In [3]:
A = GCNet("site_info.nc")
A.loadMeta()
nSites = A.getNSites()

In [4]:
qcSub = A.loadMeta('qc_AirT1_1996-2005')
qcFull = A.loadMeta('qc_AirT1_1996-2014')
# print qcSub
# print qcFull

Find closest grid points to each AWS
-----

In [5]:
C = []
for awsIX in (range(nSites)):
# for awsIX in ((0,1)):
    """ Basic AWS info """
    A.info(awsIX)
    awsName = A.getName( awsIX )
    awsLatLon = ( A.getLat( awsIX ), A.getLon( awsIX ))
    awsElev = A.getElev( awsIX )
    
    """ Find closest points """
    closest = M.closestPoints( awsLatLon )
    C.append( closest )
    
    """ Print info on closest points """
    print "Closest model points"
    P = []
    for d in closest:
        px = d['ixLon']
        py = d['ixLat']
        pdist = d['distance']
        plat  = M.getLat2d(py,px)
        plon  = M.getLon2d(py,px)
        pelev = M.getElev(py,px)
        perr = pelev - awsElev
        L = (py, px, pdist, plat, plon, pelev, perr)
        print "G(%d,%d): M: D = %.2f km, lat/lon/elev = %.2f/%.2f/%.2f m, elev_err = %.2f m" \
                     % L
        P.append( L ) 
    print "-"*80

Site 1: Swiss_Camp
Lat, Lon: 69.5732 310.7048
Elevation: 1176.0
Closest model points
G(11,17): M: D = 40.18 km, lat/lon/elev = 69.27/311.25/1066.12 m, elev_err = -109.88 m
G(11,16): M: D = 43.81 km, lat/lon/elev = 69.27/310.00/564.24 m, elev_err = -611.76 m
G(12,17): M: D = 73.77 km, lat/lon/elev = 70.21/311.25/1272.50 m, elev_err = 96.50 m
G(12,16): M: D = 75.72 km, lat/lon/elev = 70.21/310.00/777.15 m, elev_err = -398.85 m
--------------------------------------------------------------------------------
Site 2: Crawford_Point1
Lat, Lon: 69.8819 313.0264
Elevation: 2022.0
Closest model points
G(12,18): M: D = 41.55 km, lat/lon/elev = 70.21/312.50/1786.00 m, elev_err = -236.00 m
G(12,19): M: D = 45.62 km, lat/lon/elev = 70.21/313.75/2155.25 m, elev_err = 133.25 m
G(11,18): M: D = 71.38 km, lat/lon/elev = 69.27/312.50/1618.56 m, elev_err = -403.44 m
G(11,19): M: D = 73.93 km, lat/lon/elev = 69.27/313.75/2035.88 m, elev_err = 13.88 m
--------------------------------------------------------------------------------
Site 3: NASA-U
Lat, Lon: 73.8333 310.5047
Elevation: 2334.0
Closest model points
G(16,16): M: D = 22.47 km, lat/lon/elev = 73.98/310.00/2051.31 m, elev_err = -282.69 m
G(16,17): M: D = 28.12 km, lat/lon/elev = 73.98/311.25/2240.18 m, elev_err = -93.82 m
G(15,16): M: D = 90.04 km, lat/lon/elev = 73.04/310.00/2057.06 m, elev_err = -276.94 m
G(15,17): M: D = 91.70 km, lat/lon/elev = 73.04/311.25/2266.68 m, elev_err = -67.32 m
--------------------------------------------------------------------------------
Site 4: GITS
Lat, Lon: 77.1433 298.905
Elevation: 1869.0
Closest model points
G(19,7): M: D = 37.69 km, lat/lon/elev = 76.81/298.75/909.00 m, elev_err = -960.00 m
G(19,8): M: D = 46.46 km, lat/lon/elev = 76.81/300.00/1017.81 m, elev_err = -851.19 m
G(20,7): M: D = 67.44 km, lat/lon/elev = 77.75/298.75/1082.73 m, elev_err = -786.27 m
G(20,8): M: D = 72.35 km, lat/lon/elev = 77.75/300.00/1255.70 m, elev_err = -613.30 m
--------------------------------------------------------------------------------
Site 5: Humboldt
Lat, Lon: 78.5266 303.1695
Elevation: 1995.0
Closest model points
G(21,11): M: D = 22.30 km, lat/lon/elev = 78.69/303.75/1844.07 m, elev_err = -150.93 m
G(21,10): M: D = 23.47 km, lat/lon/elev = 78.69/302.50/1686.09 m, elev_err = -308.91 m
G(20,11): M: D = 87.54 km, lat/lon/elev = 77.75/303.75/1803.69 m, elev_err = -191.31 m
G(20,10): M: D = 87.87 km, lat/lon/elev = 77.75/302.50/1640.13 m, elev_err = -354.87 m
--------------------------------------------------------------------------------
Site 6: Summit
Lat, Lon: 72.5794 321.4958
Elevation: 3199.0
Closest model points
G(15,25): M: D = 51.50 km, lat/lon/elev = 73.04/321.25/3072.80 m, elev_err = -126.20 m
G(14,25): M: D = 54.60 km, lat/lon/elev = 72.09/321.25/3064.42 m, elev_err = -134.58 m
G(15,26): M: D = 60.63 km, lat/lon/elev = 73.04/322.50/3073.16 m, elev_err = -125.84 m
G(14,26): M: D = 63.72 km, lat/lon/elev = 72.09/322.50/3075.78 m, elev_err = -123.22 m
--------------------------------------------------------------------------------
Site 7: Tunu-N
Lat, Lon: 78.0168 326.0061
Elevation: 2052.0
Closest model points
G(20,29): M: D = 30.36 km, lat/lon/elev = 77.75/326.25/2153.59 m, elev_err = 101.59 m
G(20,28): M: D = 37.96 km, lat/lon/elev = 77.75/325.00/2213.66 m, elev_err = 161.66 m
G(21,29): M: D = 75.20 km, lat/lon/elev = 78.69/326.25/1976.70 m, elev_err = -75.30 m
G(21,28): M: D = 78.33 km, lat/lon/elev = 78.69/325.00/2070.45 m, elev_err = 18.45 m
--------------------------------------------------------------------------------
Site 8: DYE-2
Lat, Lon: 66.481 313.72
Elevation: 2099.0
Closest model points
G(8,19): M: D = 4.77 km, lat/lon/elev = 66.44/313.75/2121.24 m, elev_err = 22.24 m
G(8,18): M: D = 54.39 km, lat/lon/elev = 66.44/312.50/1637.77 m, elev_err = -461.23 m
G(9,19): M: D = 100.25 km, lat/lon/elev = 67.38/313.75/1977.54 m, elev_err = -121.46 m
G(9,18): M: D = 113.46 km, lat/lon/elev = 67.38/312.50/1573.55 m, elev_err = -525.45 m
--------------------------------------------------------------------------------
Site 9: JAR1
Lat, Lon: 69.4984 310.3184
Elevation: 932.0
Closest model points
G(11,16): M: D = 28.60 km, lat/lon/elev = 69.27/310.00/564.24 m, elev_err = -367.76 m
G(11,17): M: D = 44.65 km, lat/lon/elev = 69.27/311.25/1066.12 m, elev_err = 134.12 m
G(12,16): M: D = 80.02 km, lat/lon/elev = 70.21/310.00/777.15 m, elev_err = -154.85 m
G(12,17): M: D = 86.76 km, lat/lon/elev = 70.21/311.25/1272.50 m, elev_err = 340.50 m
--------------------------------------------------------------------------------
Site 10: Saddle
Lat, Lon: 66.0006 315.4986
Elevation: 2467.0
Closest model points
G(8,20): M: D = 53.72 km, lat/lon/elev = 66.44/315.00/2313.24 m, elev_err = -153.76 m
G(8,21): M: D = 59.34 km, lat/lon/elev = 66.44/316.25/2319.54 m, elev_err = -147.46 m
G(7,20): M: D = 60.43 km, lat/lon/elev = 65.50/315.00/2466.21 m, elev_err = -0.79 m
G(7,21): M: D = 65.66 km, lat/lon/elev = 65.50/316.25/2372.91 m, elev_err = -94.09 m
--------------------------------------------------------------------------------
Site 11: South_Dome
Lat, Lon: 63.1489 315.1833
Elevation: 2901.0
Closest model points
G(5,20): M: D = 52.37 km, lat/lon/elev = 63.61/315.00/2499.73 m, elev_err = -401.27 m
G(4,20): M: D = 54.05 km, lat/lon/elev = 62.67/315.00/2361.93 m, elev_err = -539.07 m
G(5,21): M: D = 74.06 km, lat/lon/elev = 63.61/316.25/2221.20 m, elev_err = -679.80 m
G(4,21): M: D = 75.86 km, lat/lon/elev = 62.67/316.25/1969.17 m, elev_err = -931.83 m
--------------------------------------------------------------------------------
Site 12: NASA-E
Lat, Lon: 75.0 330.0003
Elevation: 2614.0
Closest model points
G(17,32): M: D = 8.74 km, lat/lon/elev = 74.92/330.00/2203.73 m, elev_err = -410.27 m
G(17,33): M: D = 37.11 km, lat/lon/elev = 74.92/331.25/2068.92 m, elev_err = -545.08 m
G(18,32): M: D = 96.09 km, lat/lon/elev = 75.86/330.00/2178.03 m, elev_err = -435.97 m
G(18,33): M: D = 102.24 km, lat/lon/elev = 75.86/331.25/2061.72 m, elev_err = -552.28 m
--------------------------------------------------------------------------------
Site 13: Crawford_Point2
Lat, Lon: 69.9133 313.1453
Elevation: 1990.0
Closest model points
G(12,19): M: D = 40.14 km, lat/lon/elev = 70.21/313.75/2155.25 m, elev_err = 165.25 m
G(12,18): M: D = 41.03 km, lat/lon/elev = 70.21/312.50/1786.00 m, elev_err = -204.00 m
G(11,19): M: D = 75.61 km, lat/lon/elev = 69.27/313.75/2035.88 m, elev_err = 45.88 m
G(11,18): M: D = 76.12 km, lat/lon/elev = 69.27/312.50/1618.56 m, elev_err = -371.44 m
--------------------------------------------------------------------------------
Site 14: NGRIP
Lat, Lon: 75.0998 317.6674
Elevation: 2950.0
Closest model points
G(17,22): M: D = 20.41 km, lat/lon/elev = 74.92/317.50/2815.42 m, elev_err = -134.58 m
G(17,23): M: D = 36.92 km, lat/lon/elev = 74.92/318.75/2815.84 m, elev_err = -134.16 m
G(18,22): M: D = 85.11 km, lat/lon/elev = 75.86/317.50/2647.93 m, elev_err = -302.07 m
G(18,23): M: D = 90.18 km, lat/lon/elev = 75.86/318.75/2637.86 m, elev_err = -312.14 m
--------------------------------------------------------------------------------
Site 15: NASA-SE
Lat, Lon: 66.4797 317.49982
Elevation: 2373.0
Closest model points
G(8,22): M: D = 4.44 km, lat/lon/elev = 66.44/317.50/2246.82 m, elev_err = -126.18 m
G(8,21): M: D = 55.70 km, lat/lon/elev = 66.44/316.25/2319.54 m, elev_err = -53.46 m
G(9,22): M: D = 100.38 km, lat/lon/elev = 67.38/317.50/2485.64 m, elev_err = 112.64 m
G(9,21): M: D = 114.20 km, lat/lon/elev = 67.38/316.25/2426.07 m, elev_err = 53.07 m
--------------------------------------------------------------------------------
Site 16: KAR
Lat, Lon: 69.6995 327.00018
Elevation: 2400.0
Closest model points
G(11,30): M: D = 51.90 km, lat/lon/elev = 69.27/327.50/2273.80 m, elev_err = -126.20 m
G(11,29): M: D = 56.29 km, lat/lon/elev = 69.27/326.25/2526.35 m, elev_err = 126.35 m
G(12,30): M: D = 59.83 km, lat/lon/elev = 70.21/327.50/2655.41 m, elev_err = 255.41 m
G(12,29): M: D = 63.52 km, lat/lon/elev = 70.21/326.25/2879.72 m, elev_err = 479.72 m
--------------------------------------------------------------------------------
Site 17: JAR2
Lat, Lon: 69.42 309.9425
Elevation: 568.0

Closest model points
G(11,16): M: D = 17.16 km, lat/lon/elev = 69.27/310.00/564.24 m, elev_err = -3.76 m
G(11,15): M: D = 49.79 km, lat/lon/elev = 69.27/308.75/307.74 m, elev_err = -260.26 m
G(12,16): M: D = 87.83 km, lat/lon/elev = 70.21/310.00/777.15 m, elev_err = 209.15 m
G(12,15): M: D = 99.01 km, lat/lon/elev = 70.21/308.75/463.62 m, elev_err = -104.38 m
--------------------------------------------------------------------------------
Site 18: KULU
Lat, Lon: 65.7584 320.3982
Elevation: 878.0
Closest model points
G(7,24): M: D = 34.31 km, lat/lon/elev = 65.50/320.00/655.89 m, elev_err = -222.11 m
G(7,25): M: D = 48.70 km, lat/lon/elev = 65.50/321.25/325.04 m, elev_err = -552.96 m
G(8,24): M: D = 77.88 km, lat/lon/elev = 66.44/320.00/1643.77 m, elev_err = 765.77 m
G(8,25): M: D = 84.95 km, lat/lon/elev = 66.44/321.25/1362.82 m, elev_err = 484.82 m
--------------------------------------------------------------------------------
Site 19: JAR3
Lat, Lon: 69.3954 309.6896
Elevation: 323.0
Closest model points
G(11,16): M: D = 18.77 km, lat/lon/elev = 69.27/310.00/564.24 m, elev_err = 241.24 m
G(11,15): M: D = 39.55 km, lat/lon/elev = 69.27/308.75/307.74 m, elev_err = -15.26 m
G(12,16): M: D = 91.32 km, lat/lon/elev = 70.21/310.00/777.15 m, elev_err = 454.15 m
G(12,15): M: D = 97.46 km, lat/lon/elev = 70.21/308.75/463.62 m, elev_err = 140.62 m
--------------------------------------------------------------------------------
Site 20: Aurora
Lat, Lon: 67.1352 312.7089
Elevation: 1798.0
Closest model points
G(9,18): M: D = 28.90 km, lat/lon/elev = 67.38/312.50/1573.55 m, elev_err = -224.45 m
G(9,19): M: D = 52.52 km, lat/lon/elev = 67.38/313.75/1977.54 m, elev_err = 179.54 m
G(8,18): M: D = 77.89 km, lat/lon/elev = 66.44/312.50/1637.77 m, elev_err = -160.23 m
G(8,19): M: D = 89.81 km, lat/lon/elev = 66.44/313.75/2121.24 m, elev_err = 323.24 m
--------------------------------------------------------------------------------
Site 21: Petermann_GL
Lat, Lon: 80.6836 299.7069
Elevation: 37.0
Closest model points
G(23,8): M: D = 13.10 km, lat/lon/elev = 80.58/300.00/546.80 m, elev_err = 509.80 m
G(23,7): M: D = 21.06 km, lat/lon/elev = 80.58/298.75/406.65 m, elev_err = 369.65 m
G(24,8): M: D = 92.98 km, lat/lon/elev = 81.52/300.00/240.73 m, elev_err = 203.73 m
G(24,7): M: D = 94.29 km, lat/lon/elev = 81.52/298.75/208.46 m, elev_err = 171.46 m
--------------------------------------------------------------------------------
Site 22: Petermann_ELA
Lat, Lon: 80.0831 301.9272
Elevation: 965.0
Closest model points
G(22,10): M: D = 51.25 km, lat/lon/elev = 79.63/302.50/1462.20 m, elev_err = 497.20 m
G(22,9): M: D = 51.73 km, lat/lon/elev = 79.63/301.25/1273.45 m, elev_err = 308.45 m
G(23,10): M: D = 55.85 km, lat/lon/elev = 80.58/302.50/861.75 m, elev_err = -103.25 m
G(23,9): M: D = 56.25 km, lat/lon/elev = 80.58/301.25/706.08 m, elev_err = -258.92 m
--------------------------------------------------------------------------------
Site 23: NEEM
Lat, Lon: 77.5022 309.1256
Elevation: 2454.0
Closest model points
G(20,15): M: D = 28.84 km, lat/lon/elev = 77.75/308.75/2132.33 m, elev_err = -321.67 m
G(20,16): M: D = 34.44 km, lat/lon/elev = 77.75/310.00/2186.84 m, elev_err = -267.16 m
G(19,15): M: D = 77.96 km, lat/lon/elev = 76.81/308.75/2071.24 m, elev_err = -382.76 m
G(19,16): M: D = 80.37 km, lat/lon/elev = 76.81/310.00/2164.67 m, elev_err = -289.33 m
--------------------------------------------------------------------------------

Interpolate model elevation to AWS location
====

In [6]:
df = pd.DataFrame(columns=['Site #','Site name','Site lat','Site lon','Site elev','ElevCorr','ElevErr',
                          'QC Full', 'QC Overlap','Dry T Adj','Moist T Adj'],index=range(nSites))
for awsIX in (range(nSites)):
# for awsIX in ((0,1)):
    """ Basic AWS info """
    A.info(awsIX)
    awsName = A.getName( awsIX )
    awsLatLon = ( A.getLat( awsIX ), A.getLon( awsIX ))
    awsElev = A.getElev( awsIX )

    """ Perform the interpolation on elev from model metadata """
    closest = C[awsIX]
    Z = [ M.getElev( d[0], d[1] ) for d in zip( closest['ixLat'], closest['ixLon'] )]
    Znew = M.interpolate( Z, closest, awsLatLon )
    perr = Znew - awsElev
    print "\nNew elev = %0.2f, elev_err = %0.2f" % ( Znew, perr )
    dryAdAdj = perr/1000.*9.8
    mstAdAdj = perr/1000.*6.0
    row = ( awsIX+1, awsName, "%.2f" % awsLatLon[0], "%.2f" % awsLatLon[1], awsElev, \
            "%.2f" % Znew, "%.2f" % perr, \
            "%.2f" % qcFull[awsIX], "%.2f" % qcSub[awsIX], "%.2f" % dryAdAdj, "%.2f" % mstAdAdj )
    df.loc[awsIX] = row
    print "-"*80

Site 1: Swiss_Camp
Lat, Lon: 69.5732 310.7048
Elevation: 1176.0

New elev = 912.09, elev_err = -263.91
--------------------------------------------------------------------------------
Site 2: Crawford_Point1
Lat, Lon: 69.8819 313.0264
Elevation: 2022.0

New elev = 1896.44, elev_err = -125.56
--------------------------------------------------------------------------------
Site 3: NASA-U
Lat, Lon: 73.8333 310.5047
Elevation: 2334.0

New elev = 2130.69, elev_err = -203.31
--------------------------------------------------------------------------------
Site 4: GITS
Lat, Lon: 77.1433 298.905
Elevation: 1869.0

New elev = 984.18, elev_err = -884.82
--------------------------------------------------------------------------------
Site 5: Humboldt
Lat, Lon: 78.5266 303.1695
Elevation: 1995.0

New elev = 1762.56, elev_err = -232.44
--------------------------------------------------------------------------------
Site 6: Summit
Lat, Lon: 72.5794 321.4958
Elevation: 3199.0

New elev = 3068.80, elev_err = -130.20
--------------------------------------------------------------------------------
Site 7: Tunu-N
Lat, Lon: 78.0168 326.0061
Elevation: 2052.0

New elev = 2114.82, elev_err = 62.82
--------------------------------------------------------------------------------
Site 8: DYE-2
Lat, Lon: 66.481 313.72
Elevation: 2099.0

New elev = 2104.91, elev_err = 5.91
--------------------------------------------------------------------------------
Site 9: JAR1
Lat, Lon: 69.4984 310.3184
Elevation: 932.0

New elev = 742.77, elev_err = -189.23
--------------------------------------------------------------------------------
Site 10: Saddle
Lat, Lon: 66.0006 315.4986
Elevation: 2467.0

New elev = 2348.23, elev_err = -118.77
--------------------------------------------------------------------------------
Site 11: South_Dome
Lat, Lon: 63.1489 315.1833
Elevation: 2901.0

New elev = 2375.23, elev_err = -525.77
--------------------------------------------------------------------------------
Site 12: NASA-E
Lat, Lon: 75.0 330.0003
Elevation: 2614.0

New elev = 2201.55, elev_err = -412.45
--------------------------------------------------------------------------------
Site 13: Crawford_Point2
Lat, Lon: 69.9133 313.1453
Elevation: 1990.0

New elev = 1936.37, elev_err = -53.63
--------------------------------------------------------------------------------
Site 14: NGRIP
Lat, Lon: 75.0998 317.6674
Elevation: 2950.0

New elev = 2782.38, elev_err = -167.62
--------------------------------------------------------------------------------
Site 15: NASA-SE
Lat, Lon: 66.4797 317.49982
Elevation: 2373.0

New elev = 2256.95, elev_err = -116.05
--------------------------------------------------------------------------------
Site 16: KAR
Lat, Lon: 69.6995 327.00018
Elevation: 2400.0

New elev = 2547.43, elev_err = 147.43
--------------------------------------------------------------------------------
Site 17: JAR2
Lat, Lon: 69.42 309.9425
Elevation: 568.0

New elev = 583.77, elev_err = 15.77
--------------------------------------------------------------------------------
Site 18: KULU
Lat, Lon: 65.7584 320.3982
Elevation: 878.0

New elev = 834.44, elev_err = -43.56
--------------------------------------------------------------------------------
Site 19: JAR3
Lat, Lon: 69.3954 309.6896
Elevation: 323.0

New elev = 520.49, elev_err = 197.49
--------------------------------------------------------------------------------
Site 20: Aurora
Lat, Lon: 67.1352 312.7089
Elevation: 1798.0

New elev = 1668.91, elev_err = -129.09
--------------------------------------------------------------------------------
Site 21: Petermann_GL
Lat, Lon: 80.6836 299.7069
Elevation: 37.0

New elev = 490.16, elev_err = 453.16
--------------------------------------------------------------------------------
Site 22: Petermann_ELA
Lat, Lon: 80.0831 301.9272
Elevation: 965.0

New elev = 1101.07, elev_err = 136.07
--------------------------------------------------------------------------------
Site 23: NEEM
Lat, Lon: 77.5022 309.1256
Elevation: 2454.0

New elev = 2142.14, elev_err = -311.86
--------------------------------------------------------------------------------

In [7]:
df

,Site #,Site name,Site lat,Site lon,Site elev,ElevCorr,ElevErr,QC Full,QC Overlap,Dry T Adj,Moist T Adj
0,1,Swiss Camp,69.57,310.70,1176,912.09,-263.91,69.25,75.07,-2.59,-1.58
1,2,Crawford Point1,69.88,313.03,2022,1896.44,-125.56,61.92,73.03,-1.23,-0.75
2,3,NASA-U,73.83,310.50,2334,2130.69,-203.31,51.73,35.75,-1.99,-1.22
3,4,GITS,77.14,298.90,1869,984.18,-884.82,23.73,19.65,-8.67,-5.31
4,5,Humboldt,78.53,303.17,1995,1762.56,-232.44,55.30,65.07,-2.28,-1.39
5,6,Summit,72.58,321.50,3199,3068.80,-130.20,76.64,70.59,-1.28,-0.78
6,7,Tunu-N,78.02,326.01,2052,2114.82,62.82,80.45,81.17,0.62,0.38
7,8,DYE-2,66.48,313.72,2099,2104.91,5.91,87.17,93.48,0.06,0.04
8,9,JAR1,69.50,310.32,932,742.77,-189.23,77.37,78.08,-1.85,-1.14
9,10,Saddle,66.00,315.50,2467,2348.23,-118.77,77.54,86.97,-1.16,-0.71
10,11,South Dome,63.15,315.18,2901,2375.23,-525.77,49.20,26.48,-5.15,-3.15
11,12,NASA-E,75.00,330.00,2614,2201.55,-412.45,79.44,85.67,-4.04,-2.47
12,13,Crawford Point2,69.91,313.15,1990,1936.37,-53.63,21.28,40.42,-0.53,-0.32
13,14,NGRIP,75.10,317.67,2950,2782.38,-167.62,35.51,31.22,-1.64,-1.01
14,15,NASA-SE,66.48,317.50,2373,2256.95,-116.05,71.14,76.87,-1.14,-0.70
15,16,KAR,69.70,327.00,2400,2547.43,147.43,10.83,20.58,1.44,0.88
16,17,JAR2,69.42,309.94,568,583.77,15.77,54.05,65.69,0.15,0.09
17,18,KULU,65.76,320.40,878,834.44,-43.56,1.92,3.65,-0.43,-0.26
18,19,JAR3,69.40,309.69,323,520.49,197.49,21.01,39.91,1.94,1.18
19,20,Aurora,67.14,312.71,1798,1668.91,-129.09,4.53,8.61,-1.27,-0.77
20,21,Petermann GL,80.68,299.71,37,490.16,453.16,20.51,35.66,4.44,2.72
21,22,Petermann ELA,80.08,301.93,965,1101.07,136.07,18.60,11.26,1.33,0.82
22,23,NEEM,77.50,309.13,2454,2142.14,-311.86,32.45,0.00,-3.06,-1.87

In [8]:
# save the dataframe of AWS info
df.to_pickle('cesmle_site_info.pkl' )

In [9]:
# print a DataFrame to HTML file (then print that to PDF in a browser!)
hout = HTML(df.to_html())
hfile = open("aws_table.htm","w")
hfile.write(hout.data)
hfile.close()