AWS versus WRF 15 km
======

Import custom modules for working with model and AWS data
----

In [1]:
from netCDF4 import Dataset
import pandas as pd
import numpy as np
from IPython.display import HTML

%load_ext autoreload
%autoreload 2
from model import Model
from GCNet import GCNet

Read WRF metadata
----

In [2]:
M = Model("wrf_geog.nc")
M.loadMeta()

minLon = -70 + 360
maxLon = -15 + 360
minLat = 58
maxLat = 86.5
M.setDomain( (minLat, maxLat, minLon, maxLon) )

2d dataset

Load AWS metadata
----

In [3]:
A = GCNet("site_info.nc")
A.loadMeta()
nSites = A.getNSites()

Find closest grid points to each AWS
-----

In [4]:
C = []
for awsIX in (range(nSites)):
    """ Basic AWS info """
    A.info(awsIX)
    awsName = A.getName( awsIX )
    awsLatLon = ( A.getLat( awsIX ), A.getLon( awsIX ))
    awsElev = A.getElev( awsIX )
    
    """ Find closest points """
    closest = M.closestPoints( awsLatLon )
    C.append( closest )
    
    """ Print info on closest points """
    print "Closest model points"
    P = []
    for d in closest:
        px = d['ixLon']
        py = d['ixLat']
        pdist = d['distance']
        plat  = M.getLat2d(py,px)
        plon  = M.getLon2d(py,px)
        pelev = M.getElev(py,px)
        perr = pelev - awsElev
        L = (py, px, pdist, plat, plon, pelev, perr)
        print "G(%d,%d): M: D = %.2f km, lat/lon/elev = %.2f/%.2f/%.2f m, elev_err = %.2f m" \
                     % L
        P.append( L ) 
    print "-"*80

Site 1: Swiss_Camp
Lat, Lon: 69.5732 310.7048
Elevation: 1176.0
Closest model points
G(93,74): M: D = 2.14 km, lat/lon/elev = 69.59/310.74/1195.45 m, elev_err = 19.45 m
G(93,73): M: D = 13.30 km, lat/lon/elev = 69.57/310.36/941.76 m, elev_err = -234.24 m
G(92,74): M: D = 13.65 km, lat/lon/elev = 69.46/310.80/1153.09 m, elev_err = -22.91 m
G(94,74): M: D = 16.33 km, lat/lon/elev = 69.72/310.68/1118.76 m, elev_err = -57.24 m
--------------------------------------------------------------------------------
Site 2: Crawford_Point1
Lat, Lon: 69.8819 313.0264
Elevation: 2022.0
Closest model points
G(94,80): M: D = 5.58 km, lat/lon/elev = 69.83/312.98/1969.98 m, elev_err = -52.02 m
G(95,80): M: D = 10.11 km, lat/lon/elev = 69.97/312.93/1991.25 m, elev_err = -30.75 m
G(94,81): M: D = 13.58 km, lat/lon/elev = 69.85/313.37/2045.52 m, elev_err = 23.52 m
G(95,81): M: D = 15.99 km, lat/lon/elev = 69.98/313.32/2070.36 m, elev_err = 48.36 m
--------------------------------------------------------------------------------
Site 3: NASA-U
Lat, Lon: 73.8333 310.5047
Elevation: 2334.0
Closest model points
G(124,79): M: D = 6.71 km, lat/lon/elev = 73.82/310.72/2379.93 m, elev_err = 45.93 m
G(124,78): M: D = 9.21 km, lat/lon/elev = 73.80/310.24/2312.15 m, elev_err = -21.85 m
G(125,79): M: D = 14.02 km, lat/lon/elev = 73.95/310.64/2376.11 m, elev_err = 42.11 m
G(125,78): M: D = 15.37 km, lat/lon/elev = 73.93/310.15/2305.88 m, elev_err = -28.12 m
--------------------------------------------------------------------------------
Site 4: GITS
Lat, Lon: 77.1433 298.905
Elevation: 1869.0
Closest model points
G(153,64): M: D = 6.42 km, lat/lon/elev = 77.11/298.71/1863.17 m, elev_err = -5.83 m
G(153,65): M: D = 9.32 km, lat/lon/elev = 77.16/299.28/1915.53 m, elev_err = 46.53 m
G(154,64): M: D = 14.51 km, lat/lon/elev = 77.23/298.48/1855.59 m, elev_err = -13.41 m
G(154,65): M: D = 16.00 km, lat/lon/elev = 77.28/299.06/1925.62 m, elev_err = 56.62 m
--------------------------------------------------------------------------------
Site 5: Humboldt
Lat, Lon: 78.5266 303.1695
Elevation: 1995.0
Closest model points
G(161,74): M: D = 6.90 km, lat/lon/elev = 78.59/303.15/1954.20 m, elev_err = -40.80 m
G(160,74): M: D = 8.64 km, lat/lon/elev = 78.46/303.35/2008.63 m, elev_err = 13.63 m
G(161,73): M: D = 15.26 km, lat/lon/elev = 78.55/302.49/1930.95 m, elev_err = -64.05 m
G(160,73): M: D = 16.13 km, lat/lon/elev = 78.42/302.69/1989.03 m, elev_err = -5.97 m
--------------------------------------------------------------------------------
Site 6: Summit
Lat, Lon: 72.5794 321.4958
Elevation: 3199.0
Closest model points
G(113,101): M: D = 6.89 km, lat/lon/elev = 72.54/321.35/3237.59 m, elev_err = 38.59 m
G(114,101): M: D = 11.06 km, lat/lon/elev = 72.67/321.36/3234.95 m, elev_err = 35.95 m
G(113,102): M: D = 11.47 km, lat/lon/elev = 72.53/321.80/3257.62 m, elev_err = 58.62 m
G(114,102): M: D = 14.37 km, lat/lon/elev = 72.67/321.82/3251.92 m, elev_err = 52.92 m
--------------------------------------------------------------------------------
Site 7: Tunu-N
Lat, Lon: 78.0168 326.0061
Elevation: 2052.0
Closest model points
G(154,107): M: D = 4.15 km, lat/lon/elev = 78.05/325.96/2115.74 m, elev_err = 63.74 m
G(153,107): M: D = 11.44 km, lat/lon/elev = 77.92/325.89/2143.36 m, elev_err = 91.36 m
G(154,108): M: D = 14.24 km, lat/lon/elev = 78.04/326.62/2068.88 m, elev_err = 16.88 m
G(154,106): M: D = 17.17 km, lat/lon/elev = 78.07/325.30/2155.87 m, elev_err = 103.87 m
--------------------------------------------------------------------------------
Site 8: DYE-2
Lat, Lon: 66.481 313.72
Elevation: 2099.0
Closest model points
G(69,79): M: D = 3.76 km, lat/lon/elev = 66.51/313.67/2103.55 m, elev_err = 4.55 m
G(68,79): M: D = 11.70 km, lat/lon/elev = 66.38/313.70/2139.22 m, elev_err = 40.22 m
G(69,80): M: D = 13.18 km, lat/lon/elev = 66.52/314.00/2170.42 m, elev_err = 71.42 m
G(69,78): M: D = 17.01 km, lat/lon/elev = 66.49/313.34/2034.04 m, elev_err = -64.96 m
--------------------------------------------------------------------------------
Site 9: JAR1
Lat, Lon: 69.4984 310.3184
Elevation: 932.0
Closest model points
G(93,73): M: D = 7.67 km, lat/lon/elev = 69.57/310.36/941.76 m, elev_err = 9.76 m
G(92,73): M: D = 8.36 km, lat/lon/elev = 69.43/310.43/938.13 m, elev_err = 6.13 m
G(93,72): M: D = 13.87 km, lat/lon/elev = 69.54/309.99/583.75 m, elev_err = -348.25 m
G(92,72): M: D = 14.27 km, lat/lon/elev = 69.41/310.05/601.05 m, elev_err = -330.95 m
--------------------------------------------------------------------------------
Site 10: Saddle
Lat, Lon: 66.0006 315.4986
Elevation: 2467.0
Closest model points
G(65,84): M: D = 5.61 km, lat/lon/elev = 66.04/315.43/2470.07 m, elev_err = 3.07 m
G(64,84): M: D = 10.11 km, lat/lon/elev = 65.91/315.46/2497.78 m, elev_err = 30.78 m
G(65,85): M: D = 13.07 km, lat/lon/elev = 66.05/315.76/2510.95 m, elev_err = 43.95 m
G(64,85): M: D = 15.54 km, lat/lon/elev = 65.92/315.78/2532.48 m, elev_err = 65.48 m
--------------------------------------------------------------------------------
Site 11: South_Dome
Lat, Lon: 63.1489 315.1833
Elevation: 2901.0
Closest model points
G(43,81): M: D = 6.12 km, lat/lon/elev = 63.13/315.07/2892.94 m, elev_err = -8.06 m
G(43,82): M: D = 9.10 km, lat/lon/elev = 63.14/315.36/2902.84 m, elev_err = 1.84 m
G(44,81): M: D = 13.64 km, lat/lon/elev = 63.26/315.05/2860.40 m, elev_err = -40.60 m
G(44,82): M: D = 15.22 km, lat/lon/elev = 63.27/315.34/2875.27 m, elev_err = -25.73 m
--------------------------------------------------------------------------------
Site 12: NASA-E
Lat, Lon: 75.0 330.0003
Elevation: 2614.0
Closest model points
G(133,117): M: D = 3.06 km, lat/lon/elev = 75.02/330.05/2626.00 m, elev_err = 12.00 m
G(132,117): M: D = 12.22 km, lat/lon/elev = 74.89/329.96/2647.23 m, elev_err = 33.23 m
G(133,116): M: D = 14.55 km, lat/lon/elev = 75.05/329.53/2660.73 m, elev_err = 46.73 m
G(133,118): M: D = 16.26 km, lat/lon/elev = 75.00/330.57/2589.29 m, elev_err = -24.71 m
--------------------------------------------------------------------------------
Site 13: Crawford_Point2
Lat, Lon: 69.9133 313.1453
Elevation: 1990.0
Closest model points
G(95,80): M: D = 10.02 km, lat/lon/elev = 69.97/312.93/1991.25 m, elev_err = 1.25 m
G(95,81): M: D = 10.33 km, lat/lon/elev = 69.98/313.32/2070.36 m, elev_err = 80.36 m
G(94,80): M: D = 10.79 km, lat/lon/elev = 69.83/312.98/1969.98 m, elev_err = -20.02 m
G(94,81): M: D = 11.08 km, lat/lon/elev = 69.85/313.37/2045.52 m, elev_err = 55.52 m
--------------------------------------------------------------------------------
Site 14: NGRIP
Lat, Lon: 75.0998 317.6674
Elevation: 2950.0
Closest model points
G(132,94): M: D = 6.21 km, lat/lon/elev = 75.11/317.88/2951.85 m, elev_err = 1.85 m
G(132,93): M: D = 8.94 km, lat/lon/elev = 75.10/317.35/2946.50 m, elev_err = -3.50 m
G(131,94): M: D = 15.96 km, lat/lon/elev = 74.97/317.90/2963.49 m, elev_err = 13.49 m
G(133,94): M: D = 16.73 km, lat/lon/elev = 75.24/317.86/2939.08 m, elev_err = -10.92 m
--------------------------------------------------------------------------------
Site 15: NASA-SE
Lat, Lon: 66.4797 317.49982
Elevation: 2373.0
Closest model points
G(68,90): M: D = 7.16 km, lat/lon/elev = 66.49/317.34/2478.13 m, elev_err = 105.13 m
G(68,91): M: D = 7.87 km, lat/lon/elev = 66.50/317.67/2437.44 m, elev_err = 64.44 m
G(67,90): M: D = 15.03 km, lat/lon/elev = 66.36/317.36/2443.74 m, elev_err = 70.74 m
G(67,91): M: D = 15.38 km, lat/lon/elev = 66.36/317.69/2397.95 m, elev_err = 24.95 m
--------------------------------------------------------------------------------
Site 16: KAR
Lat, Lon: 69.6995 327.00018
Elevation: 2400.0
Closest model points
G(93,116): M: D = 1.17 km, lat/lon/elev = 69.70/326.97/2658.68 m, elev_err = 258.68 m
G(93,117): M: D = 13.74 km, lat/lon/elev = 69.68/327.35/2655.97 m, elev_err = 255.97 m
G(92,116): M: D = 14.92 km, lat/lon/elev = 69.57/326.92/2550.37 m, elev_err = 150.37 m
G(94,116): M: D = 14.98 km, lat/lon/elev = 69.83/327.02/2741.09 m, elev_err = 341.09 m
--------------------------------------------------------------------------------
Site 17: JAR2
Lat, Lon: 69.42 309.9425
Elevation: 568.0
Closest model points
G(92,72): M: D = 4.38 km, lat/lon/elev = 69.41/310.05/601.05 m, elev_err = 33.05 m
G(92,71): M: D = 11.02 km, lat/lon/elev = 69.39/309.68/365.32 m, elev_err = -202.68 m
G(93,72): M: D = 13.75 km, lat/lon/elev = 69.54/309.99/583.75 m, elev_err = 15.75 m
G(93,71): M: D = 17.07 km, lat/lon/elev = 69.52/309.61/374.50 m, elev_err = -193.50 m
--------------------------------------------------------------------------------
Site 18: KULU
Lat, Lon: 65.7584 320.3982
Elevation: 878.0

Closest model points
G(62,99): M: D = 5.54 km, lat/lon/elev = 65.72/320.32/1097.90 m, elev_err = 219.90 m
G(63,99): M: D = 10.96 km, lat/lon/elev = 65.85/320.32/1456.87 m, elev_err = 578.87 m
G(62,100): M: D = 12.02 km, lat/lon/elev = 65.72/320.64/962.23 m, elev_err = 84.23 m
G(63,100): M: D = 15.30 km, lat/lon/elev = 65.85/320.65/1418.93 m, elev_err = 540.93 m
--------------------------------------------------------------------------------
Site 19: JAR3
Lat, Lon: 69.3954 309.6896
Elevation: 323.0
Closest model points
G(92,71): M: D = 1.04 km, lat/lon/elev = 69.39/309.68/365.32 m, elev_err = 42.32 m
G(93,71): M: D = 14.10 km, lat/lon/elev = 69.52/309.61/374.50 m, elev_err = 51.50 m
G(92,72): M: D = 14.26 km, lat/lon/elev = 69.41/310.05/601.05 m, elev_err = 278.05 m
G(92,70): M: D = 15.57 km, lat/lon/elev = 69.36/309.30/286.53 m, elev_err = -36.47 m
--------------------------------------------------------------------------------
Site 20: Aurora
Lat, Lon: 67.1352 312.7089
Elevation: 1798.0
Closest model points
G(74,77): M: D = 3.93 km, lat/lon/elev = 67.14/312.80/1796.52 m, elev_err = -1.48 m
G(74,76): M: D = 10.88 km, lat/lon/elev = 67.12/312.46/1687.02 m, elev_err = -110.98 m
G(75,77): M: D = 14.84 km, lat/lon/elev = 67.27/312.76/1783.09 m, elev_err = -14.91 m
G(73,77): M: D = 15.74 km, lat/lon/elev = 67.00/312.84/1813.69 m, elev_err = 15.69 m
--------------------------------------------------------------------------------
Site 21: Petermann_GL
Lat, Lon: 80.6836 299.7069
Elevation: 37.0
Closest model points
G(177,75): M: D = 6.48 km, lat/lon/elev = 80.71/300.01/219.32 m, elev_err = 182.32 m
G(177,74): M: D = 9.06 km, lat/lon/elev = 80.67/299.21/154.50 m, elev_err = 117.50 m
G(176,75): M: D = 15.26 km, lat/lon/elev = 80.59/300.30/164.18 m, elev_err = 127.18 m
G(176,74): M: D = 16.52 km, lat/lon/elev = 80.54/299.51/156.01 m, elev_err = 119.01 m
--------------------------------------------------------------------------------
Site 22: Petermann_ELA
Lat, Lon: 80.0831 301.9272
Elevation: 965.0
Closest model points
G(172,76): M: D = 4.86 km, lat/lon/elev = 80.11/302.13/972.55 m, elev_err = 7.55 m
G(172,75): M: D = 10.81 km, lat/lon/elev = 80.07/301.37/964.57 m, elev_err = -0.43 m
G(171,76): M: D = 14.38 km, lat/lon/elev = 79.98/302.37/1140.34 m, elev_err = 175.34 m
G(171,75): M: D = 17.32 km, lat/lon/elev = 79.94/301.62/1156.19 m, elev_err = 191.19 m
--------------------------------------------------------------------------------
Site 23: NEEM
Lat, Lon: 77.5022 309.1256
Elevation: 2454.0
Closest model points
G(151,81): M: D = 2.69 km, lat/lon/elev = 77.49/309.21/2480.40 m, elev_err = 26.40 m
G(152,81): M: D = 13.29 km, lat/lon/elev = 77.62/309.09/2457.77 m, elev_err = 3.77 m
G(151,80): M: D = 13.59 km, lat/lon/elev = 77.46/308.59/2455.49 m, elev_err = 1.49 m
G(151,82): M: D = 17.08 km, lat/lon/elev = 77.51/309.83/2503.13 m, elev_err = 49.13 m
--------------------------------------------------------------------------------

Interpolate model elevation to AWS location
====

In [5]:
df = pd.DataFrame(columns=['Site #','Site name','Site lat','Site lon','Site elev','ElevCorr','ElevErr',
                           'Dry T Adj','Moist T Adj'],index=range(nSites))
for awsIX in (range(nSites)):
# for awsIX in ((0,1)):
    """ Basic AWS info """
    A.info(awsIX)
    awsName = A.getName( awsIX )
    awsLatLon = ( A.getLat( awsIX ), A.getLon( awsIX ))
    awsElev = A.getElev( awsIX )

    """ Perform the interpolation on elev from model metadata """
    closest = C[awsIX]
    Z = [ M.getElev( d[0], d[1] ) for d in zip( closest['ixLat'], closest['ixLon'] )]
    Znew = M.interpolate( Z, closest, awsLatLon )
    perr = Znew - awsElev
    print "\nNew elev = %0.2f, elev_err = %0.2f" % ( Znew, perr )
    dryAdAdj = perr/1000.*9.8
    mstAdAdj = perr/1000.*6.0
    row = ( awsIX+1, awsName, "%.2f" % awsLatLon[0], "%.2f" % awsLatLon[1], awsElev, \
            "%.2f" % Znew, "%.2f" % perr, \
            "%.2f" % dryAdAdj, "%.2f" % mstAdAdj )
    df.loc[awsIX] = row
    print "-"*80

Site 1: Swiss_Camp
Lat, Lon: 69.5732 310.7048
Elevation: 1176.0

New elev = 1163.27, elev_err = -12.73
--------------------------------------------------------------------------------
Site 2: Crawford_Point1
Lat, Lon: 69.8819 313.0264
Elevation: 2022.0

New elev = 1988.95, elev_err = -33.05
--------------------------------------------------------------------------------
Site 3: NASA-U
Lat, Lon: 73.8333 310.5047
Elevation: 2334.0

New elev = 2350.94, elev_err = 16.94
--------------------------------------------------------------------------------
Site 4: GITS
Lat, Lon: 77.1433 298.905
Elevation: 1869.0

New elev = 1885.53, elev_err = 16.53
--------------------------------------------------------------------------------
Site 5: Humboldt
Lat, Lon: 78.5266 303.1695
Elevation: 1995.0

New elev = 1975.90, elev_err = -19.10
--------------------------------------------------------------------------------
Site 6: Summit
Lat, Lon: 72.5794 321.4958
Elevation: 3199.0

New elev = 3242.02, elev_err = 43.02
--------------------------------------------------------------------------------
Site 7: Tunu-N
Lat, Lon: 78.0168 326.0061
Elevation: 2052.0

New elev = 2118.12, elev_err = 66.12
--------------------------------------------------------------------------------
Site 8: DYE-2
Lat, Lon: 66.481 313.72
Elevation: 2099.0

New elev = 2120.18, elev_err = 21.18
--------------------------------------------------------------------------------
Site 9: JAR1
Lat, Lon: 69.4984 310.3184
Elevation: 932.0

New elev = 873.04, elev_err = -58.96
--------------------------------------------------------------------------------
Site 10: Saddle
Lat, Lon: 66.0006 315.4986
Elevation: 2467.0

New elev = 2485.59, elev_err = 18.59
--------------------------------------------------------------------------------
Site 11: South_Dome
Lat, Lon: 63.1489 315.1833
Elevation: 2901.0

New elev = 2891.98, elev_err = -9.02
--------------------------------------------------------------------------------
Site 12: NASA-E
Lat, Lon: 75.0 330.0003
Elevation: 2614.0

New elev = 2632.13, elev_err = 18.13
--------------------------------------------------------------------------------
Site 13: Crawford_Point2
Lat, Lon: 69.9133 313.1453
Elevation: 1990.0

New elev = 2018.19, elev_err = 28.19
--------------------------------------------------------------------------------
Site 14: NGRIP
Lat, Lon: 75.0998 317.6674
Elevation: 2950.0

New elev = 2949.98, elev_err = -0.02
--------------------------------------------------------------------------------
Site 15: NASA-SE
Lat, Lon: 66.4797 317.49982
Elevation: 2373.0

New elev = 2454.91, elev_err = 81.91
--------------------------------------------------------------------------------
Site 16: KAR
Lat, Lon: 69.6995 327.00018
Elevation: 2400.0

New elev = 2658.27, elev_err = 258.27
--------------------------------------------------------------------------------
Site 17: JAR2
Lat, Lon: 69.42 309.9425
Elevation: 568.0

New elev = 535.51, elev_err = -32.49
--------------------------------------------------------------------------------
Site 18: KULU
Lat, Lon: 65.7584 320.3982
Elevation: 878.0

New elev = 1171.10, elev_err = 293.10
--------------------------------------------------------------------------------
Site 19: JAR3
Lat, Lon: 69.3954 309.6896
Elevation: 323.0

New elev = 376.24, elev_err = 53.24
--------------------------------------------------------------------------------
Site 20: Aurora
Lat, Lon: 67.1352 312.7089
Elevation: 1798.0

New elev = 1767.17, elev_err = -30.83
--------------------------------------------------------------------------------
Site 21: Petermann_GL
Lat, Lon: 80.6836 299.7069
Elevation: 37.0

New elev = 192.61, elev_err = 155.61
--------------------------------------------------------------------------------
Site 22: Petermann_ELA
Lat, Lon: 80.0831 301.9272
Elevation: 965.0

New elev = 990.72, elev_err = 25.72
--------------------------------------------------------------------------------
Site 23: NEEM
Lat, Lon: 77.5022 309.1256
Elevation: 2454.0

New elev = 2474.49, elev_err = 20.49
--------------------------------------------------------------------------------

In [6]:
df

,Site #,Site name,Site lat,Site lon,Site elev,ElevCorr,ElevErr,Dry T Adj,Moist T Adj
0,1,Swiss Camp,69.57,310.70,1176,1163.27,-12.73,-0.12,-0.08
1,2,Crawford Point1,69.88,313.03,2022,1988.95,-33.05,-0.32,-0.20
2,3,NASA-U,73.83,310.50,2334,2350.94,16.94,0.17,0.10
3,4,GITS,77.14,298.90,1869,1885.53,16.53,0.16,0.10
4,5,Humboldt,78.53,303.17,1995,1975.90,-19.10,-0.19,-0.11
5,6,Summit,72.58,321.50,3199,3242.02,43.02,0.42,0.26
6,7,Tunu-N,78.02,326.01,2052,2118.12,66.12,0.65,0.40
7,8,DYE-2,66.48,313.72,2099,2120.18,21.18,0.21,0.13
8,9,JAR1,69.50,310.32,932,873.04,-58.96,-0.58,-0.35
9,10,Saddle,66.00,315.50,2467,2485.59,18.59,0.18,0.11
10,11,South Dome,63.15,315.18,2901,2891.98,-9.02,-0.09,-0.05
11,12,NASA-E,75.00,330.00,2614,2632.13,18.13,0.18,0.11
12,13,Crawford Point2,69.91,313.15,1990,2018.19,28.19,0.28,0.17
13,14,NGRIP,75.10,317.67,2950,2949.98,-0.02,-0.00,-0.00
14,15,NASA-SE,66.48,317.50,2373,2454.91,81.91,0.80,0.49
15,16,KAR,69.70,327.00,2400,2658.27,258.27,2.53,1.55
16,17,JAR2,69.42,309.94,568,535.51,-32.49,-0.32,-0.19
17,18,KULU,65.76,320.40,878,1171.10,293.10,2.87,1.76
18,19,JAR3,69.40,309.69,323,376.24,53.24,0.52,0.32
19,20,Aurora,67.14,312.71,1798,1767.17,-30.83,-0.30,-0.19
20,21,Petermann GL,80.68,299.71,37,192.61,155.61,1.52,0.93
21,22,Petermann ELA,80.08,301.93,965,990.72,25.72,0.25,0.15
22,23,NEEM,77.50,309.13,2454,2474.49,20.49,0.20,0.12

In [7]:
# save the dataframe of AWS info
df.to_pickle('wrf_site_info.pkl' )

In [8]:
# print a DataFrame to HTML file (then print that to PDF in a browser!)
hout = HTML(df.to_html())
hfile = open("aws_table.htm","w")
hfile.write(hout.data)
hfile.close()