AWS versus ERA Interim
======

Import custom modules for working with model and AWS data
----

In [1]:
from netCDF4 import Dataset
import pandas as pd
import numpy as np
from IPython.display import HTML

from model import Model
from GCNet import GCNet

Read/create ERA Interim metadata
----

In [2]:
# M = Model("erai_geog.nc")
M = Model("erai_geog_sub.nc")
M.loadMeta()
# M.info()
# dir(M)
# M.getLat2d()
# M.createMeta()

minLon = -70 + 360
maxLon = -15 + 360
minLat = 58
maxLat = 86.5
M.setDomain( (minLat, maxLat, minLon, maxLon) )

1d dataset

Load AWS metadata
----

In [18]:
A = GCNet("site_info.nc")
A.loadMeta()
nSites = A.getNSites()

In [19]:
qcSub = A.loadMeta('qc_AirT1_1996-2005')
qcFull = A.loadMeta('qc_AirT1_1996-2014')
# print qcSub
# print qcFull

Find closest grid points to each AWS
-----

In [20]:
C = []
for awsIX in (range(nSites)):
# for awsIX in ((0,1)):
    """ Basic AWS info """
    A.info(awsIX)
    awsName = A.getName( awsIX )
    awsLatLon = ( A.getLat( awsIX ), A.getLon( awsIX ))
    awsElev = A.getElev( awsIX )
    
    """ Find closest points """
    closest = M.closestPoints( awsLatLon )
    C.append( closest )
    
    """ Print info on closest points """
    print "Closest model points"
    P = []
    for d in closest:
        px = d['ixLon']
        py = d['ixLat']
        pdist = d['distance']
        plat  = M.getLat2d(py,px)
        plon  = M.getLon2d(py,px)
        pelev = M.getElev(py,px)
        perr = pelev - awsElev
        L = (py, px, pdist, plat, plon, pelev, perr)
        print "G(%d,%d): M: D = %.2f km, lat/lon/elev = %.2f/%.2f/%.2f m, elev_err = %.2f m" \
                     % L
        P.append( L ) 
    print "-"*80

Site 1: Swiss_Camp
Lat, Lon: 69.5732 310.7048
Elevation: 1176.0
Closest model points
G(23,29): M: D = 28.08 km, lat/lon/elev = 69.82/310.78/1057.57 m, elev_err = -118.43 m
G(23,28): M: D = 36.94 km, lat/lon/elev = 69.82/310.08/770.82 m, elev_err = -405.18 m
G(24,29): M: D = 50.22 km, lat/lon/elev = 69.12/310.78/909.66 m, elev_err = -266.34 m
G(24,28): M: D = 55.83 km, lat/lon/elev = 69.12/310.08/603.85 m, elev_err = -572.15 m
--------------------------------------------------------------------------------
Site 2: Crawford_Point1
Lat, Lon: 69.8819 313.0264
Elevation: 2022.0
Closest model points
G(23,32): M: D = 8.25 km, lat/lon/elev = 69.82/312.89/1845.64 m, elev_err = -176.36 m
G(23,33): M: D = 22.66 km, lat/lon/elev = 69.82/313.59/2020.26 m, elev_err = -1.74 m
G(22,32): M: D = 71.82 km, lat/lon/elev = 70.53/312.89/2043.40 m, elev_err = 21.40 m
G(22,33): M: D = 74.76 km, lat/lon/elev = 70.53/313.59/2197.32 m, elev_err = 175.32 m
--------------------------------------------------------------------------------
Site 3: NASA-U
Lat, Lon: 73.8333 310.5047
Elevation: 2334.0
Closest model points
G(17,29): M: D = 23.97 km, lat/lon/elev = 74.03/310.78/2370.61 m, elev_err = 36.61 m
G(17,28): M: D = 25.96 km, lat/lon/elev = 74.03/310.08/2261.13 m, elev_err = -72.87 m
G(18,29): M: D = 56.32 km, lat/lon/elev = 73.33/310.78/2343.91 m, elev_err = 9.91 m
G(18,28): M: D = 57.24 km, lat/lon/elev = 73.33/310.08/2213.33 m, elev_err = -120.67 m
--------------------------------------------------------------------------------
Site 4: GITS
Lat, Lon: 77.1433 298.905
Elevation: 1869.0
Closest model points
G(13,12): M: D = 33.61 km, lat/lon/elev = 76.84/298.83/1447.48 m, elev_err = -421.52 m
G(13,13): M: D = 37.04 km, lat/lon/elev = 76.84/299.53/1523.32 m, elev_err = -345.68 m
G(12,12): M: D = 44.54 km, lat/lon/elev = 77.54/298.83/1832.39 m, elev_err = -36.61 m
G(12,13): M: D = 47.04 km, lat/lon/elev = 77.54/299.53/1927.09 m, elev_err = 58.09 m
--------------------------------------------------------------------------------
Site 5: Humboldt
Lat, Lon: 78.5266 303.1695
Elevation: 1995.0
Closest model points
G(11,18): M: D = 31.43 km, lat/lon/elev = 78.25/303.05/2061.75 m, elev_err = 66.75 m
G(11,19): M: D = 33.90 km, lat/lon/elev = 78.25/303.75/2092.63 m, elev_err = 97.63 m
G(10,18): M: D = 46.81 km, lat/lon/elev = 78.95/303.05/1808.84 m, elev_err = -186.16 m
G(10,19): M: D = 48.41 km, lat/lon/elev = 78.95/303.75/1847.27 m, elev_err = -147.73 m
--------------------------------------------------------------------------------
Site 6: Summit
Lat, Lon: 72.5794 321.4958
Elevation: 3199.0
Closest model points
G(19,44): M: D = 8.02 km, lat/lon/elev = 72.63/321.33/3167.76 m, elev_err = -31.24 m
G(19,45): M: D = 18.72 km, lat/lon/elev = 72.63/322.03/3188.45 m, elev_err = -10.55 m
G(20,44): M: D = 72.51 km, lat/lon/elev = 71.93/321.33/3147.17 m, elev_err = -51.83 m
G(20,45): M: D = 74.53 km, lat/lon/elev = 71.93/322.03/3172.04 m, elev_err = -26.96 m
--------------------------------------------------------------------------------
Site 7: Tunu-N
Lat, Lon: 78.0168 326.0061
Elevation: 2052.0
Closest model points
G(11,51): M: D = 26.00 km, lat/lon/elev = 78.25/326.25/2014.45 m, elev_err = -37.55 m
G(11,50): M: D = 27.48 km, lat/lon/elev = 78.25/325.55/2065.62 m, elev_err = 13.62 m
G(12,51): M: D = 52.97 km, lat/lon/elev = 77.54/326.25/2155.83 m, elev_err = 103.83 m
G(12,50): M: D = 53.76 km, lat/lon/elev = 77.54/325.55/2206.39 m, elev_err = 154.39 m
--------------------------------------------------------------------------------
Site 8: DYE-2
Lat, Lon: 66.481 313.72
Elevation: 2099.0
Closest model points
G(28,33): M: D = 19.24 km, lat/lon/elev = 66.32/313.59/2110.88 m, elev_err = 11.88 m
G(28,34): M: D = 31.61 km, lat/lon/elev = 66.32/314.30/2226.37 m, elev_err = 127.37 m
G(27,33): M: D = 59.91 km, lat/lon/elev = 67.02/313.59/1981.52 m, elev_err = -117.48 m
G(27,34): M: D = 64.81 km, lat/lon/elev = 67.02/314.30/2124.64 m, elev_err = 25.64 m
--------------------------------------------------------------------------------
Site 9: JAR1
Lat, Lon: 69.4984 310.3184
Elevation: 932.0
Closest model points
G(23,28): M: D = 37.41 km, lat/lon/elev = 69.82/310.08/770.82 m, elev_err = -161.18 m
G(23,29): M: D = 40.42 km, lat/lon/elev = 69.82/310.78/1057.57 m, elev_err = 125.57 m
G(24,28): M: D = 42.86 km, lat/lon/elev = 69.12/310.08/603.85 m, elev_err = -328.15 m
G(24,29): M: D = 45.59 km, lat/lon/elev = 69.12/310.78/909.66 m, elev_err = -22.34 m
--------------------------------------------------------------------------------
Site 10: Saddle
Lat, Lon: 66.0006 315.4986
Elevation: 2467.0
Closest model points
G(28,36): M: D = 36.22 km, lat/lon/elev = 66.32/315.70/2377.55 m, elev_err = -89.45 m
G(28,35): M: D = 41.59 km, lat/lon/elev = 66.32/315.00/2341.15 m, elev_err = -125.85 m
G(29,36): M: D = 44.02 km, lat/lon/elev = 65.61/315.70/2421.48 m, elev_err = -45.52 m
G(29,35): M: D = 48.65 km, lat/lon/elev = 65.61/315.00/2457.46 m, elev_err = -9.54 m
--------------------------------------------------------------------------------
Site 11: South_Dome
Lat, Lon: 63.1489 315.1833
Elevation: 2901.0
Closest model points
G(33,35): M: D = 39.16 km, lat/lon/elev = 62.81/315.00/2564.50 m, elev_err = -336.50 m
G(32,35): M: D = 41.03 km, lat/lon/elev = 63.51/315.00/2713.33 m, elev_err = -187.67 m
G(33,36): M: D = 46.24 km, lat/lon/elev = 62.81/315.70/2290.49 m, elev_err = -610.51 m
G(32,36): M: D = 47.69 km, lat/lon/elev = 63.51/315.70/2560.83 m, elev_err = -340.17 m
--------------------------------------------------------------------------------
Site 12: NASA-E
Lat, Lon: 75.0 330.0003
Elevation: 2614.0
Closest model points
G(16,56): M: D = 30.10 km, lat/lon/elev = 74.74/329.77/2550.13 m, elev_err = -63.87 m
G(16,57): M: D = 32.32 km, lat/lon/elev = 74.74/330.47/2455.94 m, elev_err = -158.06 m
G(15,56): M: D = 49.19 km, lat/lon/elev = 75.44/329.77/2527.50 m, elev_err = -86.50 m
G(15,57): M: D = 50.52 km, lat/lon/elev = 75.44/330.47/2464.60 m, elev_err = -149.40 m
--------------------------------------------------------------------------------
Site 13: Crawford_Point2
Lat, Lon: 69.9133 313.1453
Elevation: 1990.0
Closest model points
G(23,32): M: D = 13.89 km, lat/lon/elev = 69.82/312.89/1845.64 m, elev_err = -144.36 m
G(23,33): M: D = 19.82 km, lat/lon/elev = 69.82/313.59/2020.26 m, elev_err = 30.26 m
G(22,32): M: D = 68.82 km, lat/lon/elev = 70.53/312.89/2043.40 m, elev_err = 53.40 m
G(22,33): M: D = 70.21 km, lat/lon/elev = 70.53/313.59/2197.32 m, elev_err = 207.32 m
--------------------------------------------------------------------------------
Site 14: NGRIP
Lat, Lon: 75.0998 317.6674
Elevation: 2950.0
Closest model points
G(15,39): M: D = 37.86 km, lat/lon/elev = 75.44/317.81/2868.17 m, elev_err = -81.83 m
G(16,39): M: D = 40.63 km, lat/lon/elev = 74.74/317.81/2914.14 m, elev_err = -35.86 m
G(15,38): M: D = 40.81 km, lat/lon/elev = 75.44/317.11/2862.36 m, elev_err = -87.64 m
G(16,38): M: D = 43.52 km, lat/lon/elev = 74.74/317.11/2904.56 m, elev_err = -45.44 m
--------------------------------------------------------------------------------
Site 15: NASA-SE
Lat, Lon: 66.4797 317.49982
Elevation: 2373.0
Closest model points
G(28,39): M: D = 22.97 km, lat/lon/elev = 66.32/317.81/2243.70 m, elev_err = -129.30 m
G(28,38): M: D = 25.21 km, lat/lon/elev = 66.32/317.11/2342.38 m, elev_err = -30.62 m
G(27,39): M: D = 61.35 km, lat/lon/elev = 67.02/317.81/2422.70 m, elev_err = 49.70 m
G(27,38): M: D = 62.20 km, lat/lon/elev = 67.02/317.11/2442.07 m, elev_err = 69.07 m
--------------------------------------------------------------------------------
Site 16: KAR
Lat, Lon: 69.6995 327.00018
Elevation: 2400.0
Closest model points
G(23,52): M: D = 13.99 km, lat/lon/elev = 69.82/326.95/2614.65 m, elev_err = 214.65 m
G(23,53): M: D = 28.81 km, lat/lon/elev = 69.82/327.66/2548.49 m, elev_err = 148.49 m
G(24,52): M: D = 64.20 km, lat/lon/elev = 69.12/326.95/2117.91 m, elev_err = -282.09 m
G(24,53): M: D = 69.12 km, lat/lon/elev = 69.12/327.66/2019.14 m, elev_err = -380.86 m
--------------------------------------------------------------------------------
Site 17: JAR2
Lat, Lon: 69.42 309.9425
Elevation: 568.0

Closest model points
G(24,28): M: D = 33.52 km, lat/lon/elev = 69.12/310.08/603.85 m, elev_err = 35.85 m
G(24,27): M: D = 39.92 km, lat/lon/elev = 69.12/309.38/355.43 m, elev_err = -212.57 m
G(23,28): M: D = 45.27 km, lat/lon/elev = 69.82/310.08/770.82 m, elev_err = 202.82 m
G(23,27): M: D = 50.05 km, lat/lon/elev = 69.82/309.38/484.17 m, elev_err = -83.83 m
--------------------------------------------------------------------------------
Site 18: KULU
Lat, Lon: 65.7584 320.3982
Elevation: 878.0
Closest model points
G(29,43): M: D = 19.15 km, lat/lon/elev = 65.61/320.63/642.58 m, elev_err = -235.42 m
G(29,42): M: D = 27.10 km, lat/lon/elev = 65.61/319.92/958.89 m, elev_err = 80.89 m
G(28,43): M: D = 62.81 km, lat/lon/elev = 66.32/320.63/1461.44 m, elev_err = 583.44 m
G(28,42): M: D = 65.60 km, lat/lon/elev = 66.32/319.92/1691.82 m, elev_err = 813.82 m
--------------------------------------------------------------------------------
Site 19: JAR3
Lat, Lon: 69.3954 309.6896
Elevation: 323.0
Closest model points
G(24,27): M: D = 32.78 km, lat/lon/elev = 69.12/309.38/355.43 m, elev_err = 32.43 m
G(24,28): M: D = 33.99 km, lat/lon/elev = 69.12/310.08/603.85 m, elev_err = 280.85 m
G(23,27): M: D = 49.23 km, lat/lon/elev = 69.82/309.38/484.17 m, elev_err = 161.17 m
G(23,28): M: D = 50.02 km, lat/lon/elev = 69.82/310.08/770.82 m, elev_err = 447.82 m
--------------------------------------------------------------------------------
Site 20: Aurora
Lat, Lon: 67.1352 312.7089
Elevation: 1798.0
Closest model points
G(27,32): M: D = 15.30 km, lat/lon/elev = 67.02/312.89/1785.40 m, elev_err = -12.60 m
G(27,31): M: D = 26.12 km, lat/lon/elev = 67.02/312.19/1557.87 m, elev_err = -240.13 m
G(26,32): M: D = 65.40 km, lat/lon/elev = 67.72/312.89/1740.24 m, elev_err = -57.76 m
G(26,31): M: D = 68.64 km, lat/lon/elev = 67.72/312.19/1523.21 m, elev_err = -274.79 m
--------------------------------------------------------------------------------
Site 21: Petermann_GL
Lat, Lon: 80.6836 299.7069
Elevation: 37.0
Closest model points
G(8,13): M: D = 37.22 km, lat/lon/elev = 80.35/299.53/631.57 m, elev_err = 594.57 m
G(8,14): M: D = 38.32 km, lat/lon/elev = 80.35/300.23/720.56 m, elev_err = 683.56 m
G(7,13): M: D = 41.09 km, lat/lon/elev = 81.05/299.53/513.33 m, elev_err = 476.33 m
G(7,14): M: D = 42.01 km, lat/lon/elev = 81.05/300.23/559.71 m, elev_err = 522.71 m
--------------------------------------------------------------------------------
Site 22: Petermann_ELA
Lat, Lon: 80.0831 301.9272
Elevation: 965.0
Closest model points
G(8,16): M: D = 30.20 km, lat/lon/elev = 80.35/301.64/898.44 m, elev_err = -66.56 m
G(8,17): M: D = 30.74 km, lat/lon/elev = 80.35/302.34/987.43 m, elev_err = 22.43 m
G(9,16): M: D = 48.66 km, lat/lon/elev = 79.65/301.64/1264.91 m, elev_err = 299.91 m
G(9,17): M: D = 49.02 km, lat/lon/elev = 79.65/302.34/1351.25 m, elev_err = 386.25 m
--------------------------------------------------------------------------------
Site 23: NEEM
Lat, Lon: 77.5022 309.1256
Elevation: 2454.0
Closest model points
G(12,27): M: D = 7.54 km, lat/lon/elev = 77.54/309.38/2441.05 m, elev_err = -12.95 m
G(12,26): M: D = 11.82 km, lat/lon/elev = 77.54/308.67/2412.10 m, elev_err = -41.90 m
G(13,27): M: D = 73.73 km, lat/lon/elev = 76.84/309.38/2470.51 m, elev_err = 16.51 m
G(13,26): M: D = 74.32 km, lat/lon/elev = 76.84/308.67/2416.08 m, elev_err = -37.92 m
--------------------------------------------------------------------------------

Interpolate model elevation to AWS location
====

In [21]:
df = pd.DataFrame(columns=['Site #','Site name','Site lat','Site lon','Site elev','ElevCorr','ElevErr',
                          'QC Full', 'QC Overlap','Dry T Adj','Moist T Adj'],index=range(nSites))
for awsIX in (range(nSites)):
# for awsIX in ((0,1)):
    """ Basic AWS info """
    A.info(awsIX)
    awsName = A.getName( awsIX )
    awsLatLon = ( A.getLat( awsIX ), A.getLon( awsIX ))
    awsElev = A.getElev( awsIX )

    """ Perform the interpolation on elev from model metadata """
    closest = C[awsIX]
    Z = [ M.getElev( d[0], d[1] ) for d in zip( closest['ixLat'], closest['ixLon'] )]
    Znew = M.interpolate( Z, closest, awsLatLon )
    perr = Znew - awsElev
    print "\nNew elev = %0.2f, elev_err = %0.2f" % ( Znew, perr )
    dryAdAdj = perr/1000.*9.8
    mstAdAdj = perr/1000.*6.0
    row = ( awsIX+1, awsName, "%.2f" % awsLatLon[0], "%.2f" % awsLatLon[1], awsElev, \
            "%.2f" % Znew, "%.2f" % perr, \
            "%.2f" % qcFull[awsIX], "%.2f" % qcSub[awsIX], "%.2f" % dryAdAdj, "%.2f" % mstAdAdj )
    df.loc[awsIX] = row
    print "-"*80

Site 1: Swiss_Camp
Lat, Lon: 69.5732 310.7048
Elevation: 1176.0

New elev = 973.00, elev_err = -203.00
--------------------------------------------------------------------------------
Site 2: Crawford_Point1
Lat, Lon: 69.8819 313.0264
Elevation: 2022.0

New elev = 1895.42, elev_err = -126.58
--------------------------------------------------------------------------------
Site 3: NASA-U
Lat, Lon: 73.8333 310.5047
Elevation: 2334.0

New elev = 2319.32, elev_err = -14.68
--------------------------------------------------------------------------------
Site 4: GITS
Lat, Lon: 77.1433 298.905
Elevation: 1869.0

New elev = 1620.95, elev_err = -248.05
--------------------------------------------------------------------------------
Site 5: Humboldt
Lat, Lon: 78.5266 303.1695
Elevation: 1995.0

New elev = 1965.60, elev_err = -29.40
--------------------------------------------------------------------------------
Site 6: Summit
Lat, Lon: 72.5794 321.4958
Elevation: 3199.0

New elev = 3171.18, elev_err = -27.82
--------------------------------------------------------------------------------
Site 7: Tunu-N
Lat, Lon: 78.0168 326.0061
Elevation: 2052.0

New elev = 2077.42, elev_err = 25.42
--------------------------------------------------------------------------------
Site 8: DYE-2
Lat, Lon: 66.481 313.72
Elevation: 2099.0

New elev = 2100.99, elev_err = 1.99
--------------------------------------------------------------------------------
Site 9: JAR1
Lat, Lon: 69.4984 310.3184
Elevation: 932.0

New elev = 795.82, elev_err = -136.18
--------------------------------------------------------------------------------
Site 10: Saddle
Lat, Lon: 66.0006 315.4986
Elevation: 2467.0

New elev = 2386.55, elev_err = -80.45
--------------------------------------------------------------------------------
Site 11: South_Dome
Lat, Lon: 63.1489 315.1833
Elevation: 2901.0

New elev = 2566.48, elev_err = -334.52
--------------------------------------------------------------------------------
Site 12: NASA-E
Lat, Lon: 75.0 330.0003
Elevation: 2614.0

New elev = 2520.03, elev_err = -93.97
--------------------------------------------------------------------------------
Site 13: Crawford_Point2
Lat, Lon: 69.9133 313.1453
Elevation: 1990.0

New elev = 1933.59, elev_err = -56.41
--------------------------------------------------------------------------------
Site 14: NGRIP
Lat, Lon: 75.0998 317.6674
Elevation: 2950.0

New elev = 2888.42, elev_err = -61.58
--------------------------------------------------------------------------------
Site 15: NASA-SE
Lat, Lon: 66.4797 317.49982
Elevation: 2373.0

New elev = 2329.09, elev_err = -43.91
--------------------------------------------------------------------------------
Site 16: KAR
Lat, Lon: 69.6995 327.00018
Elevation: 2400.0

New elev = 2521.84, elev_err = 121.84
--------------------------------------------------------------------------------
Site 17: JAR2
Lat, Lon: 69.42 309.9425
Elevation: 568.0

New elev = 618.15, elev_err = 50.15
--------------------------------------------------------------------------------
Site 18: KULU
Lat, Lon: 65.7584 320.3982
Elevation: 878.0

New elev = 912.44, elev_err = 34.44
--------------------------------------------------------------------------------
Site 19: JAR3
Lat, Lon: 69.3954 309.6896
Elevation: 323.0

New elev = 515.12, elev_err = 192.12
--------------------------------------------------------------------------------
Site 20: Aurora
Lat, Lon: 67.1352 312.7089
Elevation: 1798.0

New elev = 1719.90, elev_err = -78.10
--------------------------------------------------------------------------------
Site 21: Petermann_GL
Lat, Lon: 80.6836 299.7069
Elevation: 37.0

New elev = 596.86, elev_err = 559.86
--------------------------------------------------------------------------------
Site 22: Petermann_ELA
Lat, Lon: 80.0831 301.9272
Elevation: 965.0

New elev = 1071.87, elev_err = 106.87
--------------------------------------------------------------------------------
Site 23: NEEM
Lat, Lon: 77.5022 309.1256
Elevation: 2454.0

New elev = 2432.48, elev_err = -21.52
--------------------------------------------------------------------------------

In [22]:
mstAdAdj

-0.12910065225166273

In [23]:
df

,Site #,Site name,Site lat,Site lon,Site elev,ElevCorr,ElevErr,QC Full,QC Overlap,Dry T Adj,Moist T Adj
0,1,Swiss Camp,69.57,310.70,1176,973.00,-203.00,69.25,75.07,-1.99,-1.22
1,2,Crawford Point1,69.88,313.03,2022,1895.42,-126.58,61.92,73.03,-1.24,-0.76
2,3,NASA-U,73.83,310.50,2334,2319.32,-14.68,51.73,35.75,-0.14,-0.09
3,4,GITS,77.14,298.90,1869,1620.95,-248.05,23.73,19.65,-2.43,-1.49
4,5,Humboldt,78.53,303.17,1995,1965.60,-29.40,55.30,65.07,-0.29,-0.18
5,6,Summit,72.58,321.50,3199,3171.18,-27.82,76.64,70.59,-0.27,-0.17
6,7,Tunu-N,78.02,326.01,2052,2077.42,25.42,80.45,81.17,0.25,0.15
7,8,DYE-2,66.48,313.72,2099,2100.99,1.99,87.17,93.48,0.02,0.01
8,9,JAR1,69.50,310.32,932,795.82,-136.18,77.37,78.08,-1.33,-0.82
9,10,Saddle,66.00,315.50,2467,2386.55,-80.45,77.54,86.97,-0.79,-0.48
10,11,South Dome,63.15,315.18,2901,2566.48,-334.52,49.20,26.48,-3.28,-2.01
11,12,NASA-E,75.00,330.00,2614,2520.03,-93.97,79.44,85.67,-0.92,-0.56
12,13,Crawford Point2,69.91,313.15,1990,1933.59,-56.41,21.28,40.42,-0.55,-0.34
13,14,NGRIP,75.10,317.67,2950,2888.42,-61.58,35.51,31.22,-0.60,-0.37
14,15,NASA-SE,66.48,317.50,2373,2329.09,-43.91,71.14,76.87,-0.43,-0.26
15,16,KAR,69.70,327.00,2400,2521.84,121.84,10.83,20.58,1.19,0.73
16,17,JAR2,69.42,309.94,568,618.15,50.15,54.05,65.69,0.49,0.30
17,18,KULU,65.76,320.40,878,912.44,34.44,1.92,3.65,0.34,0.21
18,19,JAR3,69.40,309.69,323,515.12,192.12,21.01,39.91,1.88,1.15
19,20,Aurora,67.14,312.71,1798,1719.90,-78.10,4.53,8.61,-0.77,-0.47
20,21,Petermann GL,80.68,299.71,37,596.86,559.86,20.51,35.66,5.49,3.36
21,22,Petermann ELA,80.08,301.93,965,1071.87,106.87,18.60,11.26,1.05,0.64
22,23,NEEM,77.50,309.13,2454,2432.48,-21.52,32.45,0.00,-0.21,-0.13

In [24]:
# save the dataframe of AWS info
df.to_pickle('erai_site_info.pkl' )

In [25]:
# print a DataFrame to HTML file (then print that to PDF in a browser!)
hout = HTML(df.to_html())
hfile = open("aws_table.htm","w")
hfile.write(hout.data)
hfile.close()